/* common */


* {
    margin: 0;
    padding: 0;
}

.header,
.featured,
.icon, .deal-container, .container {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
}

.all-title {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
}


.all-p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 32px 0;
}



.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 18px 25px;
    border: none;
}

.cent {
    text-align: center;
}

/* header */

header {
    background-color: rgba(229, 84, 115, 0.10);
}

.header {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-title {
    color: #272727;
    font-size: 75px;
    font-weight: 800;
    margin-top: 60px;
}

.header-cont {
    width: 50%;
}

.header-cont img {
    width: 100%;
    padding-top: 160px;
}

/* featured */

.featured {
    padding-top: 160px;
}

.featured-p {
    width: 50%;
    margin: 0 auto;
}

.featured-box {
    display: flex;
    gap: 20px;
    align-items: baseline;
    justify-content: space-around;
}

.featured-cont {
    width: 33.33%;
}

.featured-img {
    width: 70%;
    display: block;
    margin: 0 auto;
    border-radius: 300px 300px 0px 0px;
}

.one {
    background: rgba(167, 33, 98, 0.15);
    padding: 100px 60px 0px 60px;
}

.two {

    background: rgba(5, 151, 160, 0.15);
    padding: 100px 60px 90px 60px;
}

.three {
    background: rgba(71, 125, 17, 0.15);
    padding: 70px 60px 0px 60px;
}

.featured-cont a {
    padding: 20px 0;
    display: block;
    text-align: center;
}


/* icon */
.icon {
    display: flex;
    justify-content: space-around;
    gap: 90px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 100px;
    padding: 70px 0px;
}

.icon-cont {
    width: 33.33%;
    display: block;
    text-align: center;
}

.icon-text {
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 12px;
}

/* deal */
.deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}

.deal-container {
    display: flex;
    justify-content: spacce-around;
    align-items: center;
    padding: 50px 0;
}

.deal-cont {
    width: 50%;
    display: block;
    text-align: center;
}

/* instagram */

.insta {
    margin: 90px 0;
}

.insta-conatiner {
 text-align: center;
}

.insta-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.insta-box img {
    width: 25%;
}